.container,
.navigation{
    width: 48%;
    background-color: rgba(203, 173, 173, 0.104);
    margin: auto;
    padding: 10px 20px;
    text-align: justify; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
h1{
    text-align: center;
}
#zagolov-1{
    text-align: right;
    font-style: italic;
    padding-right: 30px;
}
#zagolov-2{
    text-align: right;
    font-size: 0.8em;
    padding-right: 30px;
}
.navigation span{
    background-color: rgb(144, 144, 199);
    box-shadow: 2px 2px 2px darkblue;
    margin: 20px;
    padding: 7px;
    border-radius: 7px;   
}
.navigation a{
    color: rgb(199, 234, 234);
    text-decoration: none;
}
.navigation{
    background: none;
    margin: 20px auto;
    text-align: center;
}
.gradient-text{
    background: linear-gradient(to bottom right, #000000,#00000071,#0000000f);
    -webkit-background-clip: text;    
    -webkit-text-fill-color:transparent
}